---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | Tom Tranfaglia" description="About Tom Tranfaglia Lorem Ipsum" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Tom Tranfaglia</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="/assets/mercury.jpg?auto=format&fit=crop&w=1400&h=350&q=75"
				/>
			</div>
<div class="bio wrapper">
	<h2>SUMMARY</h2>

	<p>Experienced web developer with 22 years of experience building accessible websites. 
	</p>

	<p>Strong background in developing and maintaining websites and applications on behalf of the California Department of Education and the Federal Office of Special Education Programs. </p>

	<p>Proven track record of finding solutions to overcome productivity hurdles and providing technical expertise and support during project scope development.</p>

	<h2>EXPERIENCE</h2>

	<h3>Napa County Office of Education, Petaluma, CA  — Technology Coordinator</h3>	
	
	<p class="date-range">	February 2007 - PRESENT</p>

	<p>Develop and maintain accessible  websites and applications on behalf of the California Department of Education and the Federal Office of Special Education Programs. </p>

	<p>Find  solutions to overcome productivity hurdles. </p>

	<p>Provide technical expertise and support during  project scope development. </p>

	<h3>California Institute on Human Services Sonoma State University, Rohnert Park, CA —Lead Web Developer</h3>
	<p class='date-range'>April 2002  - February  2007</p>
	
	<p>Responsible for Developing  and maintaining accessible websites and applications on behalf of the California Department of Education and the Federal Office of Special Education Programs.</p> 
	
	<h3>Cisco Systems, Petaluma — Assistant Web Developer, Flash Developer</h3>
	<p class='date-range'>July  2000 - October  2001</p>

	<p>Maintained the Optical Transport Business Unit intranet. Developed marketing material using Adobe Flash Technology. </p>
				
			</div>
		</div>
		<Footer />
	</body>
</html>
